.example1{
    color:crimson;
    font-size:40px;
    font-family:serif;
    background-color: lightgoldenrodyellow;

}
.example2{
    font-family:serif;
    padding-left:600px;
}
.example3{
    font-family:serif;
    padding-left:600px;
}
